extends base.pug

block style 
    style 
        include ../static/about-style.css
        include ../static/style.css

block content  
    div#aboutUsHeader 
        div.aboutUsText 
            h3 Who we are...!
            | We are the one who provides quality dance class for every children. Our dancers won the heart of everyone in every states of India . Hurry up fill the form now and join us right now!

        img(src="https://play-lh.googleusercontent.com/XvQEJSyugOQ6h6kyKjJ_t2S43O0nSAhszSg80Udw3-x2eCJasR8gkK0v4bstk_zA4Zux", alt="")   