doctype html
html
  head
    title #{title}
    //- block scripts
    //-   script(src='script.js')
    block style
      style(src='style.css')
  body
            
    <nav id="navbar">
        <ul class="navigation">
            <li><a href="/"> Home</a></li>
            <li><a href="/about"> About</a></li>
            //- <li><a href="/"> Services</a></li>
            //- <li><a href="/"> Class Info</a></li>
            <li><a href="/contact"> Contact</a></li>
        </ul>
    </nav>


    block content

       
    <footer>
            <div id="footer">
                <div class="footerBox" id="footerBox-1">
                    <h3>Address</h3>
                    <p>Bari Yusufpur, Hajipur, Vaishali, Bihar, India-844101.</p>
                    <p>B.Tech, Electronics and communication engineering, NIT Patna</p>
                </div>
                <div class="footerBox" id="footerBox-3">
                    <h3>For Colloboration....Contact us here</h3> 
                    <ul>
                        <li>Mail us : <a href="https://mail.google.com/mail/u/1/?view=cm&fs=1&to=harshvivek.787@gmail.com&tf=1" target="_blank"> harshvivek.787@gmail.com </a></li>
                        <li>Contact-Us : <a href=" https://wa.me/+917488407549?text=I%20liked%20your%20effort%20....%20It's%20awesome%20website%20" target="_blank">Whatsapp </a></li>
                        
                    </ul>
                </div>
                <div class="footerBox" id="footerBox-3">
                    <h3>Follow Us</h3>
                    <ul>
        
                    <li><a href="https://www.youtube.com/c/FreshersVines">Youtube</a></li>
                    <li><a href="https://www.instagram.com/freshersvines/">Instagram</a></li>
                    <li><a href="">Twitter</a></li>
                    <li><a href="/">Facebook</a></li>
                </ul></div>
            </div>
    </footer>
    <section id="copyright">
        <p>copyright &#169; : All rights reserved  on behalf of Harsh Dance Studio.</p>
    </section> 

       