<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    <link rel="stylesheet" href="../static/error-style.css">
</head>

<body>
    <div class="container">
        <div id="errorimg">
            <img src="/static/img/errorpage.png" alt="404 Error...page not found">
        </div>
        <div class="button">
            <button id="errorbtn"><a href="/">Go to Home</a> </button>
        </div>
    </div>
</body>

</html>