extends base.pug

block style 
    style 
        include ../static/style.css 


block content 
    <section id="mainContent">
        <div class="contentBox1">
        |    Welcome to Harsh Dance Academy
        </div>
        <div class="contentBox2">
        |    Eat...Dance...Sleep...Repeat
        </div>
    </section>

    <section id ="aboutMe-sect">
        <div id="aboutme">
            <div class="aboutme-data">
                <h3>From Harsh_it</h3>
                <div id="myself">
                <p>Hii Everyone, I hope you will enjoy my website. This is my trial website which I have created for learning HTML, CSS, JAVASCRIPT, NODE.JS, EXPRESS, PUG, MONGOD, GIT, WEB-HOSTING and many more ..... </p>
                <p>If you really like my effort, pls <span>Mail</span> or <span>Whatsapp</span> me.</p>
                <p>For this, pls check footer section </p>
                
                </div> 
            </div>
            <div class="aboutme-img"><img src="https://yt3.ggpht.com/ytc/AAUvwngxwlKo-cktQGEf7o0wNyPB0YJCU2hDJ_kbjY4wRYA=s900-c-k-c0x00ffffff-no-rj" alt="my image"></div>
        </div>
    </section>
