<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
        include ../static/style.css
    
    
</head>
<body>
    <nav id="navbar">
        <ul class="navigation">
            <li><a href="/"> Home</a></li>
            <li><a href="/"> About</a></li>
            <li><a href="/"> Services</a></li>
            <li><a href="/"> Class Info</a></li>
        </ul>
    </nav>

    <section id="mainContent">
        <div class="contentBox1">
        |    Welcome to Harsh Dance Academy
        </div>
        <div class="contentBox2">
        |    Eat...Dance...Sleep...Repeat
        </div>
    </section>

    <section >
        <div id="aboutme">
            <div class="aboutme-data">
            <h3>About the ownwer</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium commodi omnis impedit vel sunt saepe qui, veniam illum magnam mollitia sed doloribus, recusandae ducimus harum odit, quis placeat id eaque ipsa. Alias, quibusdam fugiat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, possimus? Voluptas, at officiis omnis quae aliquid vitae harum similique eligendi odio dignissimos quaerat dicta repellendus vel maxime officia qui! Quo, velit, recusandae tempore obcaecati eligendi repellendus labore nam dolorum animi ipsa pariatur ex rerum quia perferendis unde officia repellat cupiditate accusantium quasi quaerat. Dolorum dolorem officiis porro totam natus ea nesciunt facilis ratione ex repellendus quae, doloremque illum accusantium nemo obcaecati minima repudiandae? Illo sed officiis illum accusamus laudantium, optio amet fugit aliquid eius sit rerum labore excepturi nam aliquam, reiciendis beatae odio delectus expedita. Dolorem, tempore voluptas minima veniam, accusamus at, culpa porro molestias assumenda minus voluptates. Exercitationem fuga explicabo rem corrupti ullam perspiciatis veritatis facere mollitia ratione nesciunt autem non id beatae a alias esse adipisci eligendi, tempora sint nostrum iure laborum. Eaque, omnis earum est, ex reprehenderit nesciunt placeat saepe blanditiis sint modi illo totam praesentium doloribus obcaecati corporis aperiam perspiciatis vel maiores, iusto at hic tempora porro? Aperiam debitis obcaecati atque, enim, id distinctio ipsam doloribus pariatur eum velit neque quia assumenda sunt optio eaque hic alias iure vitae! Voluptas voluptatem quae aliquid maxime fugit! Eveniet, ullam! Magni fugiat, deserunt iste laboriosam cum architecto ad minus.</div>
            <div class="aboutme-img"><img src="https://yt3.ggpht.com/ytc/AAUvwngxwlKo-cktQGEf7o0wNyPB0YJCU2hDJ_kbjY4wRYA=s900-c-k-c0x00ffffff-no-rj" alt="my image"></div>
        </div>
    </section>
    <footer>
        <div id="footer">
            <div class="footerBox" id="footerBox-1">
                <h3>Address</h3>
                <p>Bari Yusufpur, Hajipur, Vaishali, Bihar India-844101. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus debitis vel quam non corporis facere quasi doloremque inventore eaque quia. Explicabo, beatae maxime recusandae minima a quo aspernatur assumenda tempora perspiciatis! Qui, ipsum!</p>
            </div>
            <div class="footerBox" id="footerBox-3">
                <h3>For Colloboration....Contact us here</h3> 
                <ul>
                    <li>Mail us : <a href="https://mail.google.com/mail/u/1/?view=cm&fs=1&to=harshvivek.787@gmail.com&tf=1" target="_blank"> harshvivek.787@gmail.com </a></li>
                    <li>Contact-Us : <a href=" https://wa.me/+917488407549?text=I'm%20interested%20to%20join%20your%20dance%20class%20" target="_blank">+91 7488407549</a></li>
                    
                </ul>
            </div>
            <div class="footerBox" id="footerBox-3">
                <h3>Follow Us</h3>
                <ul>
    
                <li><a href="/">Youtube</a></li>
                <li><a href="/">Instagram</a></li>
                <li><a href="/">Twitter</a></li>
                <li><a href="/">Facebook</a></li>
            </ul></div>
        </div>
    </footer>
    <section id="copyright">
        <p>copyright &#169; : All rights reserved  on behalf of Harsh Dance Studio.</p>
    </section>
    
</body>
</html>
            